body {
  padding: 0;
  margin: 0;
  background: #002f43 url(../images/bg01.jpg) repeat-x;
  background-size: stretch;
  color: white;
  font-family: 'Trebuchet MS'; }

header {
  position: relative;
  width: 850px;
  height: 150px;
  margin: 0 auto; }
  header h1 {
    float: left;
    padding: 50px 0;
    font-size: 40px; }
  header h5 {
    float: right;
    padding: 75px 0;
    font-size: 14px; }
  header a {
    text-decoration: none;
    color: white; }
  header span {
    position: relative;
    top: -15px;
    font-size: 32px;
    font-weight: 400; }

.main-container {
  width: 890px;
  height: 340px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  border-left: 3px solid #999999;
  border-right: 3px solid #999999;
  border-bottom: 3px solid #999999;
  border-radius: 50px 50px 40px 40px;
  background: #101010;
  box-shadow: 40px -20px 110px -30px #027EB2, -40px -20px 110px -30px #027EB2; }

.nav-container {
  width: 895px;
  height: 80px;
  background: -webkit-linear-gradient(top, #0088c3, #012c3f 50%);
  position: absolute;
  top: -5px;
  left: -5px;
  border: 3px solid silver;
  border-radius: 50px; }
  .nav-container .nav {
    width: 100%;
    line-height: 50px; }
    .nav-container .nav li {
      display: inline;
      padding: 0 28px 0 15px; }
    .nav-container .nav a {
      text-decoration: none;
      color: white;
      font-weight: 800; }

.inner-container {
  margin: 0 auto;
  width: 830px; }

.title {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  background: -webkit-linear-gradient(bottom, #282828, #0b0b0b 60%);
  line-height: 50px;
  border-radius: 20px;
  box-shadow: 1px -1px 1px #333; }
  .title a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 800; }
    .title a:hover {
      color: #8AC800; }
  .title h4 {
    font-size: 14px;
    padding-left: 20px; }

.intro, .sidebar-news {
  font-size: 12px;
  color: #b9b9b9; }

.content {
  width: 69%;
  float: left; }

.intro {
  margin-top: 30px; }
  .intro img {
    float: left;
    height: 125px;
    width: 125px;
    padding: 5px 22px; }
  .intro p {
    line-height: 20px;
    padding: 0 15px 10px; }

.sidebar {
  float: right;
  width: 28%; }

.sidebar-news {
  list-style: none;
  padding: 0 20px; }
  .sidebar-news li {
    padding: 10px 0 10px;
    line-height: 20px; }

footer {
  padding-top: 20px;
  text-align: center; }
  footer span {
    font-size: 12px;
    color: #566D77; }